*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
h2{
	height: 58px;
	font: 22px/58px "Microsoft Yahei";
	font-weight: 200;
	color: #333;
}
/*h3{
	font: 14px/1.5em "Microsoft Yahei";
	font-weight: 400;
}*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.h1000{
	//height: 1000px;
	border: 1px solid blue;
}
.h200{
	height: 200px;
	border: 1px solid blue;
}
#top{
	height: 40px;
	background: #333;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #757575;
	line-height: 40px;
}
.container{
	width: 1226px;/*官网上此处
	用的是min-width,如果这里也
	用它的话，container宽度就是
	整个屏幕？？？*/
	margin: 0 auto;
	position: relative;
	/*border: 1px solid red;*/
}
#top .container .topbar-nav{
	widows: 587px;
	float: left;
}
#top .container .topbar-info{
	float: left;
	position: absolute;
	right: 125px;
	/*尝试定位topbar-info*/
	/*left: 1000px;*/
	/*padding-left: 5px;*/
	/*padding-right: 40px;*/
}
#top .container .topbar-info a{
	padding: 0 5px;
	/*border: 1px solid red;*/
}
#top .container .topbar-info .message{
	padding: 0 10px;
}
#top .container .topbar-cart{
	float: right;
	padding: 0 5px;
	position: absolute;
	right: 0px;
	width: 120px;
	height: 40px;
	padding: 0;
	background: #424242;
}
#top .container .topbar-cart{
	text-align: center;

}
#top .container a{
	text-decoration: none;
	color: #b0b0b0;
	/*padding: 0 8px;*/
}
#top .container a:hover{
	color: #fff;
}
#top .container .sep{
	margin: 0 0.5em;
	color: #424242;
}
.site-header{
	height: 100px;
	/*background: red;*/

}
.site-header .container{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	font-family: "微软雅黑";
	color: #333;
	position: relative;
	/*line-height: */
}
.site-header .container .header-logo{
	width: 62px;
	margin-top: 22px;
	float: left;
	/*position: absolute;
	top: 22px;
	left: 0;*/
	/*vertical-align: middle;*/

}
.site-header .container .header-nav{
	float: left;
	height: 100px;
}
.site-header .container .header-nav .nav-category{
	visibility: hidden;
	position: relative;
}
.site-header .container .header-nav .nav-category a{
	width: 127px;
	height: 24px;
	padding: 26px 0 38px 0;
	font-size: 16px;
	text-align: right;
	color: #333;

}
.site-header .container .header-nav .nav-list{
	list-style-type: none;
	width: 820px;
	height: 88px;
	padding-top: 7px;
	padding-left: 30px;
	/*vertical-align: middle;*/

}
/*左侧导航栏样式*/
.site-category{
	width: 234px;
	height: 460px;
	top: 0;
	left: -300px;
	z-index: 99;
	visibility: visible;
	border: 1px solid red;
}
.header-nav .nav-category .category-item{
	width: 234px;
	height: 42px;
}
#J_categoryList{
	position: absolute;
	top: 0;
	left: -100px;
	visibility: visible;
}

.site-header .container .header-nav .nav-list li{
	float: left;

}
.site-header .container .header-nav .nav-list li a{
	text-decoration: none;
	color: #333;
	font-size: 16px;
	line-height: 88px;
	padding: 26px 10px 38px;
}
.site-header .container .header-search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	background: red;
}
#J_navCategory{
	width: 127px;
	height: 88px;
	margin-right: 15px;
}
/*.home-hero-container .home-hero{
	width: 1226px;
	height: 644px;
	margin: 0 auto;
	background: red;
}*/
.ui-wrapper{
	margin: 0 auto;
	width: 1226px;
	
}
.ui-wrapper .ui-viewport{
	z-index: 1;
}
/*.home-hero-container .home-hero div{*/
#J_homeSlider, #J_homeSlider div{
	height: 460px;
	width: 1226px;
	margin: 0 auto;
}
.ui-controls{
	width:1226px;
	height: 460px;
	border:1px solid red;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.ui-controls .ui-pager{
	width:400px;
	height: 18px;
	position: absolute;
	bottom: 20px;
	right: 30px;
	/*text-align: right;*//*设置按钮右对齐，结果不可行？*/
	border:1px solid red;
	line-height: 20px;
	z-index: 3;


}
.ui-controls .ui-pager-item{
	width: 20px;
	height: 10px;
	color: #666;
	float: right;
	/*margin: 5px 0;*/
	/*margin: 0 5px；*/
	/*border: 1px solid deeppink;*/
	/*z-index: 100;*/
}
.ui-controls .ui-pager-item a{
	display: inline-block;
	width: 6px;
	height: 6px;
	text-decoration: none;
	border: 2px solid #eee;
	border-radius: 6px;
	/*color: #0f0;*/
	background: rgba(255,255,255,0.4);
	margin: 0 5px;
}
.button-hover{/*轮播图控制按钮滑过变色*/
	background: #122953;
}
.page-main{
	width: 1226px;
	margin: 0 auto;
}
.page-main ul{
	margin: 20px 0;
}
.page-main li{
	width: 318px;
	height: 170px;
	display: inline-block;
	margin-left: 12px;
	/*background-color: red;*/
}
.page-main li img{
	width: 100%;
	height: 100%;
}
.page-main li:first-child{
	width: 234px;
	margin: 0;
}
.page-main .home-channel-list{
	/*vertical-align: top;*/
	/*background-color: red;*/
	height: 170px;
	margin-top: 0px;
	padding: 0 3px;
	background-color: #5F5750;
}
.page-main .home-channel-list li{
	float: left;
	width: 70px;
	height: 82px;
	font-size: 12px;
	padding: 0 3px;
	margin: 0;
}
.page-main .home-channel-list li span{
	display: block;
	width: 70px;
	height: 24px;
	text-align: center;
}
.page-main .home-channel-list li a{
	display: block;
	width: 70px;
	height: 46px;
	color: #CDCAC8;
	padding: 20px 0;
	border-right: 1px solid #665e57;
	border-bottom: 1px solid #665e57;
	text-align: center;
}
.page-main .home-channel-list li a:hover{
	color: #fff;
}
.page-main .home-channel-list li:nth-child(3n) a{
	border-right: none;
}

#J_homeStar{
	width: 1226px;
	margin: 0 auto;
}
#J_homeStar ul{
	height: 340px;
}
#J_homeStar .box-hd{
	position: relative;
	margin-right: -14px;
}
#J_homeStar .box-hd:last-child{
	height: 380px;
}
#J_homeStar .box-hd .more{
	position: absolute;
	bottom: 5px;
	right: 14px;
}
#J_homeStar .box-hd .more a{
	display: inline-block;
	width: 26px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #e0e0e0;
	padding: 5px;
}
#J_homeStar .box-hd .more a:hover{
	color: red;
}
#J_homeStar .box-hd .more a:last-child{
	border-left: none;
	width: 27px;
}
#J_homeStar .box-hd .more a.disabled{
	color: #b0b0b0;
	cursor: default;
}
#J_homeStar .box-hd ul li{
	text-align: center;
	background: #FAFAFA;
	margin-right: 14px;
	border-top: 1px solid #ffac13;
	padding-top: 39px;
	width: 234px;
	height:300px;
	float: left;
}
#J_homeStar .box-hd .title, #J_homeStar .box-hd .title a{
	display: block;
	font-size: 14px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
	height: 18px;
	line-height: 18px;
	margin: 0 20px 3px 20px;
}
#J_homeStar .box-hd .desc{
	height: 18px;
	margin: 0 20px 12px 20px;
	font-size: 12px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
	color: #C0B0B0;
}
#J_homeStar .box-hd .price{
	height: 21px;
	color: red;
	font-size: 12px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
}


#J_modaVideo{
	width: 100%;
}
#J_modaVideo .ul-container .w234{
	width: 234px;
}
#J_modaVideo .more{
	position: absolute;
	top: 20px;
	right: 0px;
	/*width: 92px;*/
	/*height: 58px;*/
}
#J_modaVideo .section1 .more a.more-link{
	display: block;
	width: 92px;
	height:24px;
	font: 16px/1.5 "Microsoft Yahei";
	color: #424242;
}
#J_modaVideo .section1 .more a.more-link:hover{
	color: #FF6700;
}
/*#J_modaVideo .section1 .more a.more-link span{
	display: inline-block;
	width: 16px;
	height: 20px;
	padding: 4px;
}*/
#J_modaVideo .ul-container .span4{
	width: 234px;
	height: 614px;
	float: left;
}
#J_modaVideo .ul-container .span4 ul li{
	width: 234px;
	height: 300px;
	float: left;
	margin: 0 0 14px 0;
}
#J_modaVideo .ul-container .span16{
	width: 978px;
	height: 628px;
	float: left;
}
#J_modaVideo .ul-container .span4 ul{
	/*width: 100%;*/
	/*height: 614px;*/
	margin: 0;
}
#J_modaVideo .ul-container .span16 ul{
	width: 992px;
	height: 614px;
	margin: 0;
}
#J_modaVideo .ul-container .span16 ul.brick-list li{
	list-style: none;
	/*display: inline-block;*/
	float: left;
	width: 234px;
	height: 260px;
	padding: 20px 0;
	margin: 0 0 14px 14px;
	text-align: center;
	background-color: rgba(255,255,255,1);
}
#J_modaVideo .ul-container ul li:first-child{
	padding: 0;
}
#J_modaVideo .ul-container ul li:first-child img{
	width: 100%;
	height: 100%;
}
#J_modaVideo .ul-container .span16 ul li img{
	width: 160px;
	height: 160px;
}
#J_modaVideo.home-main{
	padding-top: 60px;
}
#J_modaVideo.page-main{
	background-color: #f5f5f5;
}
#J_modaVideo .section1{
	width: 100%;
}
#J_modaVideo .ul-container .title{
	display: block;
	font-size: 14px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
	height: 18px;
	line-height: 18px;
	margin: 0 20px 3px 20px;
}
#J_modaVideo .ul-container .desc{
	height: 18px;
	margin: 0 20px 12px 20px;
	font-size: 12px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
	color: #C0B0B0;
}
#J_modaVideo .ul-container .price{
	height: 21px;
	color: red;
	font-size: 12px;
	font-weight: 200;
	font-family: "Microsoft Yahei";
}

#J_modaVideo .section2, #J_modaVideo .section3, #J_modaVideo .section4{
	position: relative;
}
#J_modaVideo .tab-list{
	height: 30px;
}
#J_modaVideo .tab-list a{
	font: 16px/1.5 "Microsoft Yahei";
	color: #424242;
}
#J_modaVideo .tab-list ul{
	height: 26px;
	margin: 0;
}
#J_modaVideo .tab-list ul li{
	float: left;
	margin: 0 0 0 12px;
	padding: 4px;
	width: auto;
	height: 18px;
	line-height: 18px;
}
#J_modaVideo .tab-list ul li.tab-active a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
#J_modaVideo .tab-list ul li:hover a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}